# --- Pastas de Sistema (Ignorar sempre) ---
node_modules/
.env
dist/
.gemini/
.shardcloud
.wwebjs_auth/
.wwebjs_cache/
bot-status*.json

# --- Arquivos Temporários e Backups (Ignorar sempre) ---
*.zip
deploy_*/
backup_*/
